In [4]:
import numpy as np
import matplotlib as mpl
import pandas as pd

In [27]:
data = pd.read_csv("/home/andersonfvv/Documentos/MC_2019.2/ENADE2017/dados/resultados_conceito_enade_2017.csv",
                  usecols=['Sigla da IES', 'Nota Bruta - FG'])

In [30]:
dfResEnade = pd.DataFrame(data, columns=['Sigla da IES', 'Nota Bruta - FG'])

In [31]:
dfResEnade

          Sigla da IES Nota Bruta - FG
0                 UFMT         59,4977
1                  UNB         61,3602
2                  UNB         58,3155
3                  UFS         62,2290
4                 UFAM         60,3600
...                ...             ...
10565      FATEC TATUÍ         47,8159
10566  FATEC Catanduva         56,1200
10567              ISL         54,2444
10568   Senac Criciúma         25,2000
10569   FATEC CAMPINAS         60,1750

[10570 rows x 2 columns]

In [32]:
data = pd.read_csv("/home/andersonfvv/Documentos/MC_2019.2/ENADE2017/dados/custo_ies_federais_nordeste.csv", 
                      usecols=['Sigla', 'custoAluno'])

In [33]:
dfCusto = pd.DataFrame(data, columns=['Sigla', 'custoAluno'])

In [34]:
dfCusto

     Sigla  custoAluno
0     UFPE     39754.9
1     UFAL     33813.6
2     UFBA     35709.2
3     UFCG     38468.7
4    UFRPE     41387.5
5      UFC     48346.1
6     UFPI     25575.5
7     UFPB     45518.8
8     UFMA     22652.6
9     UFRN     51548.1
10     UFS     21138.2
11  UFERSA     26027.1

In [35]:
dfResEnade.columns = ['sigla', 'nota']

In [36]:
dfCusto.columns = ['sigla', 'custo'] #Custo por aluno

In [39]:
dfResEnade

                 sigla     nota
0                 UFMT  59,4977
1                  UNB  61,3602
2                  UNB  58,3155
3                  UFS  62,2290
4                 UFAM  60,3600
...                ...      ...
10565      FATEC TATUÍ  47,8159
10566  FATEC Catanduva  56,1200
10567              ISL  54,2444
10568   Senac Criciúma  25,2000
10569   FATEC CAMPINAS  60,1750

[10570 rows x 2 columns]

In [40]:
dfCusto

     sigla    custo
0     UFPE  39754.9
1     UFAL  33813.6
2     UFBA  35709.2
3     UFCG  38468.7
4    UFRPE  41387.5
5      UFC  48346.1
6     UFPI  25575.5
7     UFPB  45518.8
8     UFMA  22652.6
9     UFRN  51548.1
10     UFS  21138.2
11  UFERSA  26027.1

In [45]:
siglas = list(dfCusto['sigla'])

In [46]:
siglas

['UFPE',
 'UFAL',
 'UFBA',
 'UFCG',
 'UFRPE',
 'UFC',
 'UFPI',
 'UFPB',
 'UFMA',
 'UFRN',
 'UFS',
 'UFERSA']