In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style="whitegrid")
import matplotlib.pyplot as plt
import scipy.stats
from math import sqrt
%matplotlib inline
plt.rcParams.update({'figure.figsize':(6,4), 'figure.dpi':100})
plt.style.use('seaborn-whitegrid')

In [12]:
dados = pd.read_csv('../dados/microdados.csv', usecols=['QE_I13', 'NT_GER', 'CO_CATEGAD', 'ANO_IN_GRAD'], sep=';')
# QE_I13 recebeu bolsa, ou seja, participou de atividades de pesquisa e extensão
# NT_GER nota bruta
# CO_CATEGAD categoria da instituição, 1, 2 e 3 são públicas
# ANO_IN_GRAD ano de inicio da graduacao

In [13]:
dados = dados.rename(columns={'QE_I13': 'participou', 'NT_GER': 'nota', 'CO_CATEGAD': 'categoria', 'ANO_IN_GRAD': 'inicio'})

In [14]:
dados = dados[dados['participou'].notnull() & dados['nota'].notnull() & dados['categoria'].isin(['1', '2', '3']) & dados['inicio'].notnull()]
dados['nota'] = dados['nota'].str.replace(',', '.').astype(float)
dados['participou'] = dados['participou'].replace({'A': 'N', 'B': 'S', 'C': 'S', 'D': 'S', 'E': 'S', 'F': 'S'})
d1 = dados[['participou', 'nota']]

In [15]:
d1.groupby('participou').describe()

               nota
              count       mean        std  min   25%   50%   75%   max
participou
N           79674.0  44.134015  14.236840  0.0  33.9  43.7  54.0  98.1
S           78240.0  49.506964  14.584347  0.0  39.6  49.8  59.8  96.4

In [16]:
d1.describe()

                nota
count  157914.000000
mean       46.796094
std        14.658281
min         0.000000
25%        36.400000
50%        46.800000
75%        57.100000
max        98.100000

In [17]:
mean = np.mean(d1)
std = np.std(d1)
scale = std / sqrt(len(d1))

In [18]:
scipy.stats.norm.interval(0.95, loc=mean, scale=scale)

NameError: name 'scipy' is not defined

In [ ]:
help(scipy.stats.norm.interval)

In [ ]:
bp = d1.boxplot(column='nota', by='participou', figsize=(7, 5))
bp.set_xlabel('Participação em projetos extracurriculares')
bp.set_ylabel('Nota bruta')
bp.set_xticklabels(['Não', 'Sim'])

In [ ]:
dados['inicio'] = 2017 - dados['inicio']
dados[['inicio', 'participou']].groupby('participou').describe()

In [ ]:
dados['inicio'].describe()

In [ ]:
mean2 = dados
std2 = np.std(dados['inicio'])
scale2 = std / sqrt(len(dados['inicio']))

In [ ]:
scipy.stats.norm.interval(0.95, loc=mean2, scale=scale2)

In [ ]:
dados[['inicio', 'participou']].boxplot(column='inicio', by='participou')