In [3]:
import pandas as pd

In [18]:
dados = pd.read_csv('../dados/microdados.csv', usecols=['QE_I13', 'NT_GER'], sep=';')
# QE_I13 recebeu bolsa
# NT_GER nota bruta

In [4]:
dados = dados[dados['QE_I13'].notnull() & dados['NT_GER'].notnull()]
dados['NT_GER'] = dados['NT_GER'].str.replace(',', '.').astype(float)

        NT_GER QE_I13
0         52.6      A
1         63.1      A
2         33.7      D
3         58.1      A
4         46.3      A
...        ...    ...
371722    42.0      A
371723    42.2      A
371724    19.4      A
371725    39.3      A
371727    32.6      A

[306571 rows x 2 columns]

In [5]:
dados['NT_GER'].mean()

43.932797296547946

In [10]:
nao_participaram = dados[dados['QE_I13'] == 'A']
nao_participaram['NT_GER'].mean()

42.313379467908696

In [11]:
participaram = dados[dados['QE_I13'] != 'A']
participaram['NT_GER'].mean()

48.53141415026991

0.0